# Clang Tidy - Config
---
Checks: '-*
 bugprone-*,
 -bugprone-easily-swappable-parameters,
 clang-diagnostic-*,
 clang-analyzer-*,
 cert-*,
 -cert-err33-c,
 cppcoreguidelines-*,
 misc-*,
 -misc-include-cleaner,
 modernize-*,
 -modernize-use-trailing-return-type,
 performance-*,
 readability-*,
 -readability-static-accessed-through-instance
 '

WarningsAsErrors: '*'
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - cpp
CheckOptions:
  readability-function-cognitive-complexity.Threshold: "40"
